html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #3b331f;
}

header p {
  font-weight: bold;
  color: #ed6362;
}

aside h2,
.main-content h1,
footer h3 {
  color: #dceb5b;
}

aside li,
.main-content p,
footer p,
header li {
  color: #58ce74;
}

li {
  list-style: none;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.8em;
    margin: 10px 6%;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header p {
    align-self: center;
  }

  header li {
    display: none;
  }

  hr {
    width: 35%;
  }

  aside h2 {
    display: flex;
    justify-content: center;
  }

  article p {
    text-align: justify;
  }

  footer {
    font-size: .5em;
    display: flex;
    flex-wrap: wrap;
  }

  footer h3 {
    width: 100%;
    text-align: center;
  }

  footer p {
    padding: 3%;
    background-color: #ff8e6523;
  }

  footer p:first-of-type {
    flex-grow: 1;
    width: 30%;
    color: #58ce74;
  }

  footer p:last-of-type {
    flex-grow: 5;
    width: 60%;
  }

  aside ul{
    background-color: #ff8e6523;
    padding: 3%;
  }

  .img-container {
    display: flex;
    margin-bottom: 50px;
  }

  .img-container img {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.8em;
    margin: 10px 6%;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  header p {
    /* align-self: center; */
    text-align: center;
    flex-grow: 1;
  }

  header ul {
    display: flex;
    flex-direction: row;
  }

  header ul li {
    margin-right: 10px;
  }

  hr {
    width: 35%;
  }

  aside h2 {
    display: flex;
    justify-content: center;
  }

  aside {
    width: 80%;
    margin: auto;
  }

  article p {
    text-align: justify;
  }
}

@media screen and (min-width: 992px) {}